/* Import Bootstrap CSS */
@import "../node_modules/bootstrap//dist/css/bootstrap.min.css";

/* img {
  max-width: 40%;
  height: auto;
} */

/* .container {
  min-width: 200px;
} */

/* .main-container {
  height: 100vh; 
  overflow: auto;
}
 */
